{# Así de define una variable en Twig #}
{% set name = 'Daniel' %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mi página con Twig</title>
</head>
<body>
    {# Esto es un comentario #}
    <h1>Hola {{ name }}</h1>
</body>
</html>
