<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Ciclo For en Twig</title>
</head>
<body>
  <h1>Ciclo For en Twig</h1>
  <h2>Personas</h2>
  <ul>
    {% for person in people %}
      <li>{{ person }}</li>
    {% endfor %}
  </ul>
</body>
</html>
